@page "/"

<div class="container-fluid h-100">

    <div class="h-100 g-2 row">
        <div class="col-12" style="height:80%" hidden="@(!DisplayReport)">
            <iframe
                id="stryker-report"
                class="p-4"
                srcdoc="<!DOCTYPE html>
                                    <html>
                                    <head>
                                        <meta charset='UTF-8'>
                                        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
                                        <script defer src='https://www.unpkg.com/mutation-testing-elements'></script>
                                    </head>
                                    <body>
                                    <mutation-test-report-app title-postfix='Stryker Playground Report'>
                                        Your browser doesn't support <a href='https://caniuse.com/#search=custom%20elements'>custom elements</a>.
                                        Please use a latest version of an evergreen browser (Firefox, Chrome, Safari, Opera, etc).
                                    </mutation-test-report-app>
                                    <script>
                                        const app = document.querySelector('mutation-test-report-app');
                    
                                        function updateTheme() {
                                            document.body.style.backgroundColor = app.themeBackgroundColor;
                                        }
                                        app.addEventListener('theme-changed', updateTheme);
                                        updateTheme();
                                    </script>
                                    </body>
                                    </html>"></iframe>
        </div>

        <div class="col-md col-lg-6" hidden="@DisplayReport">
            <div class="pane-flex">

                <div style="flex: 1 1 0;">
                    <StandaloneCodeEditor @ref="SourceCodeEditor"
                                          Id="source-editor"
                                          CssClass="playground-editor"
                                          ConstructionOptions="PlaygroundConstants.EditorOptions"/>
                </div>
            </div>
        </div>
        <div class="col-md col-lg-6" hidden="@DisplayReport">
            <div class="pane-flex">

                <div style="flex: 1 1 0;">
                    <StandaloneCodeEditor @ref="TestCodeEditor"
                                          Id="test-editor"
                                          CssClass="playground-editor"
                                          ConstructionOptions="PlaygroundConstants.EditorOptions"/>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="pane-flex">

                <div id="playground-controls" class="row">
                    <div class="row" hidden="@DisplayReport">

                        <div class="container @(Busy && Initialized ? string.Empty : "invisible")">
                            <div class="pg-progress-bar">
                                <div class="pg-progress-bar-value"></div>
                            </div>
                        </div>

                        <Xterm @ref="Terminal" Options="PlaygroundConstants.XTermOptions" OnFirstRender="@OnFirstRender"/>
                    </div>

                    <div class="row">
                        <div class="container-fluid">
                            <button type="button"
                                    disabled="@Busy"
                                    class="btn btn-outline-danger"
                                    onclick="@(async () => await OnClick_StartMutationTests())">Run Mutation Tests</button>

                            <button type="button"
                                    disabled="@Busy"
                                    class="btn btn-outline-warning"
                                    onclick="@(async () => await OnClick_StartUnitTests())">Run Unit Tests</button>

                            <button type="button"
                                    hidden="@(_jsonReport == null)"
                                    class="btn btn-outline-info"
                                    onclick="@(() => { _displayReport = !_displayReport; })"> @(_displayReport ? "Edit code" : "View report")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>