@page "/"

<div id="editors-wrapper" class="row">
    <div class="col-1 col-md col-xs-12 editor-wrapper">
        <StandaloneCodeEditor @ref="TestCodeEditor" Id="test-editor" CssClass="playground-editor row" ConstructionOptions="PlaygroundConstants.EditorOptions"/>
    </div>
    
    <div class="col-1 col-md col-xs-12 editor-wrapper">
        <StandaloneCodeEditor @ref="SourceCodeEditor" Id="source-editor" CssClass="playground-editor row" ConstructionOptions="PlaygroundConstants.EditorOptions"/>
    </div>
</div>

<div id="terminal-wrapper" class="row">
    <div class="row">

        @if (Busy && Initialized)
        {
            <div class="container">
                <div class="pg-progress-bar">
                    <div class="pg-progress-bar-value"></div>
                </div>
            </div>
        }
        
        <Xterm @ref="Terminal" Options="PlaygroundConstants.XTermOptions" OnFirstRender="@OnFirstRender"/>
    </div>
    
    <div class="container-fluid">
        <button type="button" disabled="@Busy" class="btn btn-outline-danger" onclick="@(async () => await OnClick_StartMutationTests())" >Mutation test</button>
        <button type="button" disabled="@Busy" class="btn btn-outline-warning" onclick="@(async () => await OnClick_StartUnitTests())">Unit test</button>
    </div>
</div>

